/*
STYLE SECTIONS

- GENERAL SECTION
- HEADER SECTION
- MAIN SECTION
- FOOTER SECTION
*/


/* GENERAL SECTION */
/*
CONTENT
- GENERAL SIZING
- GENERAL TOPOGRAPHY
- FREQUENTLY USED CLASSES
*/

/* GENERAL SIZING */

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

#main_content {
    margin: 0 90px;
    margin-top: calc(80px + 50px)
}

/* GENERAL TOPOGRAPHY */

a {
    text-decoration: none;
    color: #000;
}

.blue_top_text {
    font-size: 56px;
    color: #637ba0;
    text-align: center;
}

/* FREQUENTLY USED CLASSES */
.divider_50px {
    height: 50px;
}

/*-----------------------------------------------------------------------------*/


/* HEADER SECTION */
/*
CONTENT
- WHOLE HEADER
- TOP SIDE
- BOTTOM SIDE
*/

/* WHOLE HEADER */
header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
}

body {
    height: 10000000000px;
}

/* TOP SIDE */

#header_top_layer {
    background-color: #fff3d0;
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.header_left_side {
    margin-left: 0px;
}

.site_logo {
    height: 50px;
}

.header_right_side {
    margin-right: 0;
}

.header_right_side a:nth-of-type(1),
.header_right_side a:nth-of-type(2) {
    padding-right: 25px;
}

i.fa-solid.fa-cart-shopping {
    font-size: 30px !important;
}

/* BOTTOM SIDE */

#header_bot_layer {
    background-color: #e9c973;
    height: 50px;
    font-size: 24px;
    display: flex;
    padding: 0 20%;
    align-items: center;
}

/*-----------------------------------------------------------------------------*/


/* MAIN SECTION */
/*
CONTENT
- INDEX.PHP
- ADVERTISEMENTS
- PRODUCT CONTAINER
*/

/* INDEX.PHP */

.welcome {
    width: 100vw;
    background-color: #fff3d0;
    text-align: center;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-90px);
}

.welcome h1 {
    font-size: 40px;
}

/* ADVERTISEMENTS */

.horizontal_ad {
    width: 80%;
    background-color: pink;
    height: 150px;
}


/* PRODUCT CONTAINER */
#products_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}


.product_container {
    width: 80%;
    background-color: #fff3d0;
    box-shadow: 10px 15px #637ba0;
}


.product_container .color_product_image {
    background-color: #e9c973;
    width: 80%;
    margin: 10px auto;
}

.product_container .product_image {
    background-color: #e9c973;
    padding: 5px;
    width: 90%;

}

.product_container h2 {
    text-align: center;
}

.product_container p {
    height: 150px;
    margin: 10px 5%;
}

.product_container .view_product_button {
    background-color: #637ba0;
    color: #fff;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    box-shadow: 3px 5px #e9c973;
    margin: 10px auto;
}

/*-----------------------------------------------------------------------------*/


/* FOOTER SECTION */

/*-----------------------------------------------------------------------------*/