/*
STYLE SECTIONS

- GENERAL SECTION
- HEADER SECTION
- FOOTER SECTION
- MAIN SECTION
*/


/* GENERAL SECTION */
/*
CONTENT
- GENERAL SIZING
- GENERAL TOPOGRAPHY
- FREQUENTLY USED CLASSES
*/

/* GENERAL SIZING */

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.main_content {
    margin: 0 70px;
    margin-top: calc(80px + 50px)
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/* GENERAL TOPOGRAPHY */

a {
    text-decoration: none;
    color: #000;
}

.blue_top_text {
    font-size: 56px;
    color: #637ba0;
    text-align: center;
}

/* FREQUENTLY USED CLASSES */
.divider_50px {
    height: 50px;
}

.divider_150px {
    height: 150px;
}


/*-----------------------------------------------------------------------------*/


/* HEADER SECTION */
/*
CONTENT
- WHOLE HEADER
- TOP SIDE
- BOTTOM SIDE
*/

/* WHOLE HEADER */
header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
}


/* TOP SIDE */

#header_top_layer {
    background-color: #fff3d0;
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.header_left_side {
    margin-left: 0px;
}

.header_left_side.admin_left_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site_logo {
    height: 90px;
}

.header_right_side {
    margin-right: 0;
}

.header_right_side a:nth-of-type(1),
.header_right_side a:nth-of-type(2) {
    padding-right: 25px;
}

i.fa-solid.fa-cart-shopping {
    font-size: 30px !important;
}

/* BOTTOM SIDE */

#header_bot_layer {
    background-color: #e9c973;
    height: 50px;
    font-size: 24px;
    display: flex;
    padding: 0 20%;
    align-items: center;
}


/*-----------------------------------------------------------------------------*/

/* FOOTER SECTION */

footer {
    background-color: #fff3d0;
    display: flex;
}

footer section {
    flex: 1;
    padding: 50px 90px;
}

footer section h2 {
    text-align: center;
}

footer section ul {
    list-style-type: none;
}

footer section ul i {
    margin-right: 5px;
}

/*-----------------------------------------------------------------------------*/


/* MAIN SECTION */
/*
CONTENT
- INDEX.PHP
- ADVERTISEMENTS
- PRODUCT CONTAINER
- LOGIN & REGISTER
*/

/* INDEX.PHP */

.welcome {
    width: 100vw;
    overflow-x: hidden;
    background-color: #fff3d0;
    text-align: center;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-90px);
}

.welcome h1 {
    font-size: 40px;
}

.solar_intro_text {
    background-color: #cad8de;
    width: 100vw;
    text-align: center;
    transform: translateX(-90px);
    padding: 20px 90px;
}

/* ADVERTISEMENTS */

.horizontal_ad {
    width: 80%;
    background-color: pink;
    height: 150px;
}

.vertical_ad {
    background-color: pink;
    width: 250px;
}


/* PRODUCT CONTAINER */
#products_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}

@media (max-width: 1000px) {
    #products_grid {
        grid-template-columns: auto auto;
    }

    .product_container {
        width: 80% !important;
    }
}


.product_container {
    width: 23vw;
    background-color: #fff3d0;
    box-shadow: 3px 5px #e9c973;
}


.product_container .color_product_image {
    background-color: #e9c973;
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.product_container .product_image {
    background-color: #e9c973;
    padding: 5px;
    width: 80%;
    height: 150px;

}

.product_container h2 {
    text-align: center;
    color: #637ba0;
    font-size: 30px;
    height: 80px;
}

.product_container .product_description {
    height: 100px;
    margin: 10px 5%;
}

.product_container .view_product_button {
    background-color: #637ba0;
    color: #fff;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    box-shadow: 3px 5px #e9c973;
    margin: 30px auto;
}

.products_page_link {
    text-align: center;
    background-color: #637ba0;
    box-shadow: 3px 5px #e9c973;
    color: #fff;
    padding: 10px;
}

/* PRODUCT PAGE */

#product_grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    border: 1px solid black;
}

.product_page_container {
    width: 90%;
}

/* LOGIN & REGISTER */

.login_formation {
    display: flex;
    width: 100vw;
    transform: translateX(-70px);
}

.login_bg {
    position: absolute;
    background-image: url("../img/login_bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.login_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #fff;
}

.login_container input[type="text"],
.login_container input[type="password"]  {
    width: 90%;
    height: 50px;
    background-color: #cad8de;
    color: #637ba0;
    margin-bottom: 50px;
    border: none;
    border-radius: 5px;
}

.login_container input[type="text"]::placeholder,
.login_container input[type="password"]::placeholder {
    color: #637ba0;
    font-size: 24px;
}

.login_container input[type="submit"] {
    margin-bottom: 15px;
    width: 90%;
    height: 75px;
    border-radius: 10px;
    border: none;
    font-size: 36px;
    color: #e9c973;
    background-color: #637ba0;
}

/*-----------------------------------------------------------------------------*/
